@model Web.Viewmodels.Quiz.TestVM

@{
    ViewData["Title"] = "Quiz";
    Layout = "_Layout";
}

<!-- Heading -->
<div class="d-flex justify-content-center text-center w-100">
    <h1 class="mt-4" id="readme">Test your <b>knowledge</b></h1>
</div>

<div id="ajaxDiv" class="w-100"></div>

@{
    var route = $"/Quiz/GetNextQuestion?TestId={@Model.Id}";
}

<input hidden id="route" value="@route">

@section Scripts{
<script>
    var route = '@route';
    route += '&isInitial=true'
    $( document ).ready(function() {
        $.get(route
            ,
            function (result) {
                $(ajaxDiv).html(result);
            });
});

</script>
}