@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap");

* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    --color--darkest--blue: #184894;
    --color--dark--blue: #1870a8;
    --color--light--blue: #189cbd;
    --color--lightest--blue: #7ebad4;
}


body {
    margin: 0;
    font-weight: 400;
    color: #333;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    line-height: 1;
}

h2 {
    font-size: 1.75em;
    line-height: 1;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
    letter-spacing: 1px;
}


a {
    color: var(--color--dark--blue);
}

    a:focus,
    a:active,
    a:hover {
        text-decoration: underline;
        color: var(--color--dark--blue);
    }

button {
    border: 0;
    background: var(--color--dark--blue);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.button__small {
    font-size: 13px;
    padding: 2px 5px;
}

    .button__small.button__wideHover:hover {
        transition: 300ms ease-in-out;
        padding: 2px 15px;
    }

.button__wideHover:hover {
    transition: 300ms ease-in-out;
    padding: 10px 25px;
}


/* Backgrounds */
.background--darkest-blue {
    background: var(--color--darkest--blue);
}

.background--dark-blue {
    background: var(--color--dark--blue);
}


.background--light-blue {
    background: var(--color--light--blue);
}

.background--lightest-blue {
    background: var(--color--lightest--blue);
}


.primary--bold {
    font-weight: 900;
}

.border-2 {
    border-width: 2px !important;
}

.space--holder {
    padding-right: 5px;
}

.medium--font {
    font-size: 30px;
    font-weight: 900;
}

.visycard {
    padding: 20px 10px;
    display: block;
    position: relative;
    box-sizing: border-box;
    color: black;
    background: white;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 30px;
}



    .visycard:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -5px;
        border-radius: inherit;
        background: linear-gradient( to right, var(--color--darkest--blue), var(--color--lightest--blue) );
    }

.card--title {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.card--separator {
    margin: 10px auto 15px auto;
    background: linear-gradient( to right, var(--color--darkest--blue), var(--color--lightest--blue) );
    height: 3px;
    border: none;
    max-width: 55px;
}

.card--professor {
    font-weight: 100;
}

.card--content {
    padding: 0px 25px 20px;
}

.card--content--text {
    text-align: left;
    text-justify: inter-word;
}

.card--content--row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5px;
}

.card--content--row--title {
    font-weight: 600;
    float: left;
    font-family: "Raleway", sans-serif;
}

.card--content--row--badge {
    background-color: var(--color--dark--blue);
    color: white;
    font-weight: 100;
    float: right;
    padding: 5px 15px;
    text-align: center;
    width: auto;
    border-radius: 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
}

.card--content--label--container {
    display: flex;
    flex-wrap: wrap;
}

.card--content--label__stock {
    background-color: var(--color--light--blue);
    color: white;
}

.card--content--label {
    font-weight: 600;
    float: right;
    border-radius: 15px;
    margin: 5px;
    flex-wrap: wrap;
    padding: 5px 12px;
    font-size: 13px;
}

.card--content--label__light {
    background-color: var(--color--lightest--blue);
    color: white;
}
/*SIDEBAR*/
.sidebar-wrapper {
    height: 100%;
    padding-bottom: 30px;
}

.sidebar {
    height: 100%;
    padding: 50px 20px;
    min-height: 590px;
    background-image: linear-gradient( var(--color--darkest--blue), var(--color--lightest--blue) );
    color: white;
    border-top-right-radius: 142px;
    position: relative;
    text-align: center;
}

.sidebar--image {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3px solid white;
    position: absolute;
    top: -70px;
    left: calc(50% - 75px);
}

.sidebar--name--holder {
    display: flex;
    font-size: 33px;
    justify-content: center;
    margin-bottom: 40px;
}

.sidebar--firstName {
    margin-bottom: 10px;
    padding-top: 70px;
}

.sidebar--lastname {
    margin-bottom: 10px;
    padding-top: 70px;
    font-weight: 690;
    padding-left: 10px;
}

.sidebar--info--holder {
    display: flex;
    padding-left: 5px;
    font-size: 19px;
}

.sidebar--icon {
    height: 40px;
    padding-right: 15px;
    margin-top: 5px;
}

.sidebar--points--holder {
    margin: 35px 0;
    justify-content: center;
    display: flex;
}

.sidebar--points--icon {
    height: 75px;
    padding-right: 15px;
    margin-top: -12px;
}

.card-test {
    height: auto;
    padding: 20px;
    width: auto;
}

.icon-medium {
    width: 50px;
}
/* Navigation */
.navbar--logo {
    height: 40px;
    width: auto;
}

.navbar--brand {
    color: #fff;
    font-size: 30px;
    margin-left: 15px;
}

.navbar--right, .navbar--left {
    display: flex;
    align-content: center;
}

.navbar .profile--logo {
    border-radius: 100%;
    border: 2px solid #ffffff;
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

.navbar--study {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}


/*visyNavbar*/

.custom--navbar.nav {
    border-bottom: 1.5px solid var(--color--darkest--blue);
}

.custom--nav--item {
    color: black;
}

.custom--navbar .nav-link.active {
    background-color: transparent;
    border-bottom: none;
    border-color: transparent !important;
    font-weight: 900 !important;
    color: var(--color--darkest--blue) !important;
}

.custom--navbar .nav-item a:hover {
    font-weight: 900;
    border: none;
    border-color: transparent;
    color: black;
}


.navbar--study:hover {
    color: white;
}

main {
    margin-top: 100px;
}

/*grab icon*/
.steal--button {
    display: flex;
    border: 1px solid #e73841;
    border-radius: 10px;
    width: 9%;
    height: 60px;
}

.steal--icon {
    height: 37px;
    margin: 10px;
}

.steal--text--holder {
    margin: 5px 0 5px;
}

.steal--title {
    margin: 0px;
    font-weight: bolder;
}

.steal--button:hover {
    cursor: pointer;
}

/*visyTest*/
.visy--test {
    align-content: center;
    background-color: #b11852;
    color: white;
    justify-content: center;
    text-align: center;
    height: 350px;
    width: auto;
    border-radius: 25px;
    display: flex;
}

.visy--test--question {
    align-self: center;
    font-size: 85px;
    font-weight: 900;
}

.visy--hint {
    position: absolute;
    top: -67px;
    color: black;
    background-color: white;
    right: 50px;
}

.visy--cool-border {
    margin: 50px auto;
    width: 250px;
    height: 250px;
    border-top: 3px solid #3acfd5;
    border-bottom: 3px solid #3a4ed5;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 3px 100%;
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-radius: 5px;
}

.visy--cool-border__small {
    width: 100px;
    height: 35px;
}

.test-button{
    position: absolute;
    bottom:0;
    margin-bottom:-22.5px;
}