    <div class="sidebar">
      <img
        class="sidebar--image"
        src="https://pbs.twimg.com/profile_images/630485232328790016/G67O_zJu.jpg"
      />
      <div class="sidebar--name--holder">
        <p class="sidebar--firstName">Samir</p>
        <p class="sidebar--lastname">Habota</p>
      </div>
      <div class="sidebar--info--holder">
       <img class="sidebar--icon" src="images/SidebarIcons-09.png">
        <p class="primary--bold space--holder">Sarajevo,</p>
        <p>Bosnia and Herzegovina</p>
      </div>
      <div class="sidebar--info--holder">
        <img style="margin-left: -8px;" class="sidebar--icon" src="images/SidebarIcons-05.png">
         <p class="primary--bold">Fakultet, Mostar</p>
       </div>
       <div class="sidebar--points--holder">
        <img class="sidebar--points--icon" src="images/SidebarIcons-08.png">
        <div>
          <p class="primary--bold" style="margin-left: -50px;">Reputation</p>
          <p style="margin-top: -10px; margin-left: -5px;"><b class="medium--font">568</b> visypoints</p>
        </div>
       </div>
       <div class="card--content--label--container">
        <p class="card--content--label">1st year</p>
        <p class="card--content--label">c++</p>
        <p class="card--content--label">intro</p>
        <p class="card--content--label">1st semester</p>
        <p class="card--content--label">1st semester</p>
        <p class="card--content--label">1st semester</p>
        <p class="card--content--label">1st semester</p>
      </div>
    </div>
  </div>

  <div class="visycard">
    <h2 class="card--title">Programiranje I</h2>
    <hr class="card--separator" />
    <h4 class="card--professor">prof doc. dr Elmir Babović</h4>
    <div class="card--content">
      <p class="card--content--text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
        cupiditate excepturi labore, nemo architecto ex dignissimos id
        consectetur, velit et atque eum dolorem. Tempora voluptates sint quam
        quo dolores amet?
      </p>
      <div class="card--content--row">
        <h3 class="card--content--row--title">ECTS</h3>
        <p class="card--content--row--badge">38</p>
      </div>
      <div class="card--content--row">
        <h3 class="card--content--row--title">Lectures</h3>
        <p class="card--content--row--badge">12</p>
      </div>
      <div class="card--content--row">
        <h3 class="card--content--row--title">Documents</h3>
        <p class="card--content--row--badge">15</p>
      </div>
      <div class="card--content--row">
          <h3 class="card--content--row--title">Cards</h3>
          <p class="card--content--row--badge">60</p>
      </div>
      <div class="card--content--label--container">
        <p class="card--content--label">1st year</p>
        <p class="card--content--label">c++</p>
        <p class="card--content--label">intro</p>
        <p class="card--content--label">1st semester</p>
      </div>
    </div>
  </div>


