<!-- Heading -->
<div class="d-flex justify-content-center text-center">
    <h1 class="mt-4">Test your <b>knowledge</b></h1>
</div>

<div class="visy--cool-border col-md-5 col-12 row justify-content-center">
    <!-- Question -->
    <div class="mt-2 text-center test-question w-100">
        <h2><b>What does the "new" operator return?</b></h2>
    </div>

    <!-- Answers -->
    <div class="my-4 w-75">
        <div>
            <input type="checkbox" id="chbx1">
            <label for="chbx1">nullptr</label>
        </div>
        <div>
            <input type="checkbox" id="chbx2">
            <label for="chbx2">memory adress location</label>
        </div>
        <div>
            <input type="checkbox" id="chbx3">
            <label for="chbx3">integer value</label>
        </div>

        <!-- Radio buttons -->
        <!-- 
            <div>
                <input type="radio" name="answerIndex" id="answer1">
                <label for="answer1">nullptr</label>
            </div>
            <div>
                <input type="radio" name="answerIndex" id="answer2">
                <label for="answer2">memory adress location</label>
            </div>
            <div>
                <input type="radio" name="answerIndex" id="answer3">
                <label for="answer3">integer value</label>
            </div> -->
    </div>

    <!-- Next question button -->
    <div class="w-100 text-center test-button">
        <button>
            <b>
                NEXT QUESTION
            </b>
        </button>
    </div>

</div>

<!-- Current question -->
<div>
    <h2 class="mt-4 text-center">
        <b>2/15</b>
    </h2>
</div>