<div class="sidebar">
    <img class="sidebar--image"
         src="https://pbs.twimg.com/profile_images/630485232328790016/G67O_zJu.jpg" />
    <div class="sidebar--name--holder">
        <p class="sidebar--firstName">Samir</p>
        <p class="sidebar--lastname">Habota</p>
    </div>
    <div class="sidebar--info--holder">
        <img class="sidebar--icon" src="img/icons/location.png">
        <p class="text-left"><b>Sarajevo</b>, Bosnia and Herzegovina</p>

    </div>
    <div class="sidebar--info--holder">
        <img style="margin-left: -8px;" class="sidebar--icon" src="img/icons/organization.png">
        <p class="text-left"><b>Fakultet Informacijskih tehnologija, Mostar</b></p>
    </div>
    <div class="sidebar--points--holder">
        <img class="sidebar--points--icon" src="img/icons/reputation.png">
        <div class="text-left">
            <h4 class="primary--bold mb-0">Reputation</h4>
            <p class="mb-0"><b class="medium--font">568</b> <b>visypoints</b></p>
        </div>
    </div>
    <div class="card--content--label--container">
        <p class="card--content--label card--content--label__light">1st year</p>
        <p class="card--content--label card--content--label__light">c++</p>
        <p class="card--content--label card--content--label__light">intro</p>
        <p class="card--content--label card--content--label__light">1st semester</p>
        <p class="card--content--label card--content--label__light">1st semester</p>
        <p class="card--content--label card--content--label__light">1st semester</p>
        <p class="card--content--label card--content--label__light">1st semester</p>
    </div>
</div>
