@model Web.Viewmodels.SharedVM.UserDataVM
<div class="sidebar-wrapper">
    <div class="sidebar">
        <img class="sidebar--image"
             src="/img/users/@Model.AvatarLink" />
        <div class="sidebar--name--holder">
            <p class="sidebar--firstName">@Model.FirstName</p>
            <p class="sidebar--lastname">@Model.LastName</p>
        </div>
        <div class="sidebar--info--holder">
            <img class="sidebar--icon" src="/img/icons/location.png">
            <p class="text-left"><b>Sarajevo</b>, Bosnia and Herzegovina</p>

        </div>
        <div class="sidebar--info--holder">
            <img style="margin-left: -8px;" class="sidebar--icon" src="/img/icons/organization.png">
            <p class="text-left"><b>@Model.Organization</b></p>
        </div>
        <div class="sidebar--points--holder">
            <img class="sidebar--points--icon" src="/img/icons/reputation.png">
            <div class="text-left">
                <h4 class="primary--bold mb-0">Reputation</h4>
                <p class="mb-0"><b class="medium--font">@Model.ReputationPoints</b> <b>visypoints</b></p>
            </div>
        </div>
        <div class="card--content--label--container">
            <p class="card--content--label card--content--label__stock">educator</p>
            <p class="card--content--label card--content--label__stock">helpful</p>
            <p class="card--content--label card--content--label__stock">student</p>
            <p class="card--content--label card--content--label__stock">beginner</p>
            <p class="card--content--label card--content--label__stock">editor</p>
            <p class="card--content--label card--content--label__stock">top commentator</p>
            <p class="card--content--label card--content--label__stock">enthusiast</p>
        </div>
    </div>
</div>